@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Staatliches&display=swap");

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#root {
  overflow: hidden;
}

p,
h1 {
  margin: 0px;
  font-weight: 300 !important;
}

.banner_div {
  height: 400px;
  background: #007acc;
  overflow: hidden;
  width: 100%;
}

.banner_span_0 {
  position: fixed;
  margin: 1em;
  background: #ff5270;
  filter: drop-shadow(0px 0px 1px #ff5270);
  border-radius: 0px 1em 1em 1em;
  max-width: 34em;
  padding: 0.5em;
  color: white;
  text-shadow: 0px 0px 8px black;
  bottom: 0px;
  z-index: 10;
}

.banner_span_0 p {
  margin: 0px;
}

.banner_span_1 {
  height: 400px;
  position: relative;
  display: block;
  z-index: 1;
  background: #ff5722;
  transform: rotateZ(26deg) translateY(200%);
  filter: drop-shadow(2px 4px 6px black);
  animation: slideInFromBottom_span1 1s ease-in forwards;
}

.banner_span_2 {
  height: 400px;
  position: relative;
  display: block;
  background: #ffc107;
  filter: drop-shadow(2px 4px 6px black);
  z-index: 2;
  transform: rotateZ(-24deg) translateX(35%) translateY(100%);
  animation: slideInFromBottom_span2 1s ease-in forwards 0.5s;
}

.banner_span_3 {
  height: 400px;
  position: absolute;
  width: 100%;
  top: 0px;
  text-align-last: center;
  animation: slideInFromBottom_span3 1s ease-in forwards 1s;
  transform: translateY(100%);
}

.banner_span_3 img {
  height: 13em;
  top: 100%;
  position: sticky;
  transform: translateY(-33px);
}

/* Keyframes */
@keyframes slideInFromBottom_span1 {
  from {
    transform: rotateZ(26deg) translateY(200%);
  }
  to {
    transform: rotateZ(26deg) translateY(100%);
  }
}
@keyframes slideInFromBottom_span2 {
  from {
    transform: rotateZ(-24deg) translateX(35%) translateY(100%);
  }
  to {
    transform: rotateZ(-24deg) translateX(35%) translateY(-40px);
  }
}
@keyframes slideInFromBottom_span3 {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.social-icons {
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 5;
}

.social-icons a:hover {
  transform-origin: center;
  transform: scale(1.5) rotate(1turn);
  transition: all 0.3s ease 0s;
}

.social-icons img {
  height: 2em;
  aspect-ratio: 1;
  background: white;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 2px black);
}

.body-content {
  position: relative;
  z-index: 2;
  background: #f5f5f5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.left-content {
  width: 22em;
  background: #e6e8fa;
  position: relative;
  color: black;
  filter: drop-shadow(0px 0px 2px black);
}

.right-content {
  flex: 1;
  position: relative;
  overflow-x: hidden;
}

.fixed-container {
  padding: 1.5em;
}

.featured {
  margin: 1em;
  margin-top: 0px;
  padding-top: 1em;
}

.featured h1 {
  text-align: center;
  font-weight: 500;
}

.hanging-svg {
  overflow: hidden;
}

.hanging-svg::after {
  content: "";
  border: 1px solid black;
  height: 100%;
  position: absolute;
}

#root .tongue {
  display: none;
}
#root .peas:hover .tongue {
  display: block;
}
#root .peas:hover .teeth {
  display: none;
}
#root .spider {
  z-index: 50;
  /* Safari */
  /* position: sticky; */
}

@media screen and (max-width: 756px) {
  .left-content {
    width: 100%;
  }
  .right-content {
    flex: 100%;
  }
}

.skills h1,
.skills h5,
.skills p {
  font-family: initial;
  font-weight: 200;
}

/* Styles for JobExperience component */
.job-experience {
  background-color: #fff; /* White background for each job experience */
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  transition: transform 0.2s ease-in-out; /* Add a hover animation */
  border: 3px solid #40e0d0;
}

.job-experience:hover {
  transform: scale(1.02); /* Enlarge the box on hover */
}

/* Styles for Skills component */
.skills {
  background-color: #333; /* Dark background for skills section */
  color: #fff; /* White text color */
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.skill-category {
  margin-top: 20px;
}

.skill-category h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 200;
}

.skill-category ul {
  /* list-style-type: none;
  padding-left: 0; */
  padding: 0px 0 0px 0;
  margin: 0px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
}

.skill-category li {
  font-size: 16px;
  margin-bottom: 5px;
  list-style-type: none;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #40e0d0;
  display: inline;
  border: 2px solid #40e0d0;
  padding: 8px;
}

.featured h1:after {
  content: "";
  width: 50px;
  height: 3px;
  background: #40e0d0;
  display: block;
  margin: 1px auto;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.featured h1:hover:after {
  width: 100px;
}

.job-experience h4 {
  margin-bottom: 5px;
}

.other-content {
  padding: 1em;
}

.other-content h1 {
  text-align: center;
}

.other-content h1:after {
  content: "";
  width: 50px;
  height: 3px;
  background: #40e0d0;
  display: block;
  margin: 1px auto;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.other-content h1:hover:after {
  width: 100px;
}

.card-container {
}

.card-atropos {
  width: fit-content;
}

.card {
  height: 28em;
  width: 21em;
  background: aquamarine;
  padding: 1em;
}

.card-header {
}

.card-body {
}

.card-links {
  margin: 1em;
}

.design {
  margin-bottom: 6em;
  height: 100vh;
  width: 100vw;
}
